  .contact-content {
    height: 395px;
    margin-top: 32px;
    padding: 9px;
    position: relative;
   }

   .contact-content::after{
       content: "";
       background-image:url("../images/img\ -\ Copy.jpg");
       position: absolute;
       top: 0;
       width: 100%;
       height: inherit;
       opacity: 0.15;
       border-radius: 12px;
   }